<a class="toggle-link" href="#new-task"><i class="icon-plus"></i> New Task</a>

<%= simple_form_for Task.new,  :html => { :class => 'form-horizontal hidden' , :id => 'new-task' } do |f| %>

  <%= f.hidden_field :parent_id, value: @task.id %>
  <%= f.hidden_field :project_id, value: @task.project.id %>

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <legend>New Task</legend>
  <%= f.input :title, :input_html => { :class => "span3" },
  :hint => "add your task title here" %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>

<% end %>