<div style="margin-left: 4px;">
	<b>Task title:</b> <%= @task.title %>
	<br>
	<b>Due time:</b> 	<%= @task.due_time %>
	<br>
	<b>Estimated time:</b> <%= @task.estimated_time %>
	<br>
	<b>Status:</b> <%= @task.status %>
	<br>
	<b>Created at:</b> <%= @task.created_at %>
	<br>
	<b>Updated at:</b> <%= @task.updated_at %>
</div>
