<%= render "shared/breadcrumb"%>
<div class="span7" style="margin: 0;">
  <div class="well" style="padding: 8px 0; background: white; padding: 10px;">

    <%= link_to 'Edit', "#editTask", :data => { :url => edit_task_path(@task), :toggle => "modal" }, :class => "edit-task-button" %> |
    <% if @task.parent %>
      <%= link_to 'Back', @task.parent %>
    <% else %>
      <%= link_to 'Back', @task.project %>
    <% end %>
    <h1>
      <%= @task.title %>  
    </h1>


    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
      <li class=""><a href="#description" data-toggle="tab">Description</a></li>            
      <li class=""><a href="#files" data-toggle="tab">Attached Files</a></li>            
      <li class=""><a href="#history" data-toggle="tab">History</a></li>

    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade  active in" id="tasks">
        
        <a href="#newTask" data-url="<%= new_task_path(:parent_id => @task.id, :project_id => @task.project.id)%>" data-toggle="modal" class="new-task-button"><i class="icon-plus"></i> New Task</a>

        <% if @task.have_subtasks? %>
        <%= render "subtasks" %>
        <% end %>

        <h3>
          Completed Tasks
        </h3>
        <ul class="tasks done">
          <li>
            <i class="icon-ok"></i> <span class="title">Wash the Car</span> <span class="meta">Completed <em>2 days ago</em> by <em>John</em></span>
          </li>
          <li>
            <i class="icon-ok"></i> <span class="title">Call the plumber</span> <span class="meta">Completed <em>5 days ago</em> by <em>John</em></span>
          </li>
          <li>
            <i class="icon-ok"></i> <span class="title">Try that new cookie recipe</span> <span class="meta">Completed <em>2 weeks ago</em> by <em>Jill</em></span>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="description">
        <p><%= raw @task.description %></p>
      </div>
      <div class="tab-pane fade" id="files">
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </div>
      <div class="tab-pane fade" id="history">
        <table class="table table-striped table-condensed table-bordered">
          <thread>
            <tr>
              <th>Time</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thread>
          <tbody>
            <tr>
              <td>25/02/2013 00:03:02</td>
              <td>Iniciados os trabalhos na tarefa</td> 
              <td align=right; width=50px;> <span class="label label-info">Iniciada</span> </td>
            </tr>

            <tr>
              <td>25/02/2013 00:07:02</td>
              <td>Aguardando cliente - Falta definicao de cores</td> 
              <td align=right; width=50px;><span class="label label-warning">Aguardando</span> </td>
            </tr>

            <tr>
              <td>25/02/2013 00:13:02</td>
              <td>Reiniciados os trabalhos na tarefa</td> 
              <td align=right; width=50px;><span class="label label-info">Trabalhando</span> </td>
            </tr>

            <tr>
              <td>25/02/2013 00:20:02</td>
              <td>Finalizados os trabalhos na tarefa</td> 
              <td align=right; width=50px;> <span class="label label-success">Terminada</span>  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render "shared/statusbar"%>

<p id="notice"><%= notice %></p>

<!-- Modal -->
<div id="editTask" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Editing Task</h3>
  </div>
  <div class="modal-body">
    Carregando...
  </div>
</div>

<div id="newTask" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>New Task</h3>
  </div>
  <div class="modal-body">
    Carregando...
  </div>
</div>